<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
function changecash(cashId){
	if(!confirm("您确定审核通过该用户的提现？")){
		 return false;
	 }
	
	$.ajax({
		type: "post",
		url:"/cash/checkcash",
		contentType:"application/x-www-form-urlencoded",
		data:{
			cashId:cashId
		},
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
					alert('审核通过');
				  window.location.reload();
			}else{
				alert('审核失败');
			}
		}
	});
}
</script>
	<div th:replace="commons :: header"></div>
	<div th:replace="commons :: menu"></div>

	<h2>提现管理</h2>
	<div class="col-md-10">


		<div th:unless="${#lists.isEmpty(data)}">
		
			<table class="table table-bordered table-hover">
		        <thead>
		        <tr>
		            <th>用户名</th>
		            <th>联系方式</th>
		            <th>卡号</th>
		            <th>固定提现</th>
		            <th>浮动提现</th>
		            <th>申请时间</th>
		            <th>状态</th>
		            <th>操作</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each="cash ,stat : ${data}" th:class="${stat.odd}?'info':''" >
		            <td th:text="${cash.username}">id</td>
		            <td th:text="${cash.mobile}">id</td>
		            <td th:text="${cash.buyNum}">id</td>
		            <td th:text="${cash.assets}">id</td>
		            <td th:text="${#dates.format(cash.createTime, 'yyyy-MM-dd')}">id</td>
		            <td th:text="${cash.state==0} ? '未审核':'通过'">id</td>
		            <td th:if="${cash.state eq 0}">
		            	<a href="javascript:void(0)" th:onclick="'changecash('+${cash.id}+');'">通过</a>  
		            </td>
		        </tr>
		
		        </tbody>
		    </table>

			<ul class="pager">
				<li class="previous" th:classappend="${isFirst}? 'disabled'"><a href="#" th:href="@{/cash/listing(pageNum=${pageNum-1},pageSize=15)}">&larr; 上一页</a></li>
				<li class="next" th:classappend="${isLast}? 'disabled'"><a href="#" th:href="@{/cash/listing(pageNum=${pageNum+1},pageSize=15)}">下一页 &rarr;</a></li>
			</ul>
			
		</div>
	</div>
</body>
</html>