<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			[${webAppRootKey}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c.%M[%F:%L] - %m%n
		</Property>
		<Property name="webAppRootKey">
			yunding
		</Property>
		<!-- /home/logs/ -->
		<!-- ~/logs/ -->
		<Property name="logPath">
			/home/logs/
		</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender" fileName="${logPath}/${webAppRootKey}.log"
			filePattern="${}logPath}${webAppRootKey}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<AsyncLogger name="com.haojg" level="INFO" additivity="false"	includeLocation="true">
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</AsyncLogger>
		<AsyncRoot level="info">
			<AppenderRef ref="ConsoleAppender" />
		</AsyncRoot>
	</Loggers>
</Configuration>