<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
	function viewUser(id){
		$('#editForm').find("input").empty();
		
		$('#viewUserDialog').modal('show');
		
		$.ajax({
			type: "get",
			url:"/user/getById",
			contentType:"application/x-www-form-urlencoded",
			data:{id:id},
			dataType:"json",
			success: function(resp, textStatus){
				var user = resp.data;
				for(var a in user){
					$('#editForm').find("input[name='"+a+"']").val(user[a]);
					/*
					if(a == 'mobileApplyTime'){
						$('#editForm').find("input[name='mobileApplyTime']").val(user['mobileApplyTimeCn']);
					}else{
						$('#editForm').find("input[name='"+a+"']").val(user[a]);
					}
					*/
				}
			}
		});
	}
	
	function saveUser(){
		$.ajax({
			type: "post",
			url:"/user/save.do",
			contentType:"application/x-www-form-urlencoded",
			data:$("#editForm").serialize(),
			dataType:"json",
			success: function(resp, textStatus){
				window.location.reload();
			}
		});
	}
	
	
	function checkUser(userId, state){
		var msg = (state == 1)?"您确定激活该用户？":"您确定要锁定该用户？";
		if (!confirm(msg)) {
			return false;
		}
		
		$.ajax({
			type: "post",
			url:"/user/check.do",
			data:{
				userId:userId,
				state:state
			},
			contentType:"application/x-www-form-urlencoded",
			dataType:"json",
			success: function(resp, textStatus){
				window.location.reload();
			}
		});
	}
</script>

<header th:replace="commons :: header"></header>
<div th:replace="commons :: menu"></div>

<div class="col-md-10">

<h3>用户信息</h3>

<div th:unless="${#lists.isEmpty(data)}">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID号</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>身份证号</th>
            <th>银行卡号</th>
            <th>联系方式</th>
            <th>数字资产</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user,userStat : ${data}" th:class="${userStat.odd}?'success':''" >
            <td th:text="${user.id}">id</td>
            <td th:text="${user.username}">id</td>
            <td th:text="${user.realname}">id</td>
            <td th:text="${user.cardId}">id</td>
            <td th:text="${user.bankNo}">id</td>
            <td th:text="${user.mobile}">id</td>
            <td th:text="${user.assets}">id</td>
            <td>
            	<a href="javascript:void(0)" th:onclick="'viewUser('+${user.id}+');'">修改</a>  
            	<a href="javascript:void(0)" th:if="${user.state == 1}" th:onclick="'checkUser('+${user.id}+',0);'">锁号</a>  
            	<a href="javascript:void(0)" th:if="${user.state == 0}" th:onclick="'checkUser('+${user.id}+',1);'">激活</a>  
            </td>
        </tr>

        </tbody>
    </table>
    
		<ul class="pager">
			<li class="previous" th:classappend="${isFirst}? 'disabled'"><a href="#" th:href="@{/user/listing(pageNum=${pageNum-1},pageSize=15)}">&larr; 上一页</a></li>
			<li class="next" th:classappend="${isLast}? 'disabled'"><a href="#" th:href="@{/user/listing(pageNum=${pageNum+1},pageSize=15)}">下一页 &rarr;</a></li>
		</ul>
</div>
</div>

<div class="modal fade" id="viewUserDialog" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body">
						
						<form id="editForm" class="form-horizontal">
							<input type="hidden" name="id" value=""/>
							<input type="hidden" name="role" value=""/>
							<input type="hidden" name="status" value=""/>
							<input type="hidden" name="recUserId" value=""/>
						    <div class="form-group">
						        <label for="inputtext1" class="col-sm-2 control-label">帐号</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext1" name="username" placeholder="登录账号" value=""/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext2" class="col-sm-2 control-label">密码</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext2" name="password" placeholder="密码"/>
						        </div>
						        <label for="secondPassword" class="col-sm-2 control-label">二级密码</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="secondPassword" name="secondPassword" placeholder="密码"/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext3" class="col-sm-2 control-label">姓名</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext3" name="realname" placeholder="姓名"/>
						        </div>
						        <label for="inputtext7" class="col-sm-2 control-label">身份证</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext7" name="cardId" placeholder="身份证号"/>
						        </div>
						        
						    </div>
						    
						     <div class="form-group">
						        <label for="inputtext11" class="col-sm-2 control-label">开户行</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext11" name="bankName" placeholder="开户行名称(全称)"/>
						        </div>
						        <label for="inputtext13" class="col-sm-2 control-label">银行卡号</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext13" name="bankNo" placeholder="银行卡号"/>
						        </div>
						    </div>
						    
						   
						    <div class="form-group">
						        <label for="inputtext14" class="col-sm-2 control-label">联系方式</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext14" name="mobile" placeholder="联系方式(手机、座机)"/>
						        </div>
						        <label for="inputtext15" class="col-sm-2 control-label">邮箱</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext15" name="mail" placeholder="邮箱"/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext16" class="col-sm-2 control-label">固定资产</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext16" name="buyNum" placeholder="固定资产"/>
						        </div>
						        <label for="inputtext17" class="col-sm-2 control-label">浮动资产</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext17" name="assets" placeholder="浮动资产"/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext18" class="col-sm-2 control-label">持有股份</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext18" name="stockNum" placeholder="持有股份"/>
						        </div>
						        <label for="inputtext19" class="col-sm-2 control-label">持有筹码</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext19" name="chip" placeholder="持有筹码"/>
						        </div>
						    </div>
						
						    <div class="form-group">
						        <div class="col-sm-offset-2 col-sm-10">
						            <input type="button"  class="btn btn-default" onclick="saveUser();" value="保存"/>
						        </div>
						    </div>
						</form>
						
						
					</div>
				</div>
			</div>
		</div>


</body>
</html>