<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>
	
<body class="container">

	<div th:replace="commons :: header"></div>
	<h2>会员 信息后台</h2>
	<div th:replace="commons :: menu"></div>
	<div class="container">
		<form class="form-horizontal">
			<div class="form-group ">
				<div class="col-sm-offset-2 col-sm-8">
					<div>
					欢迎来到xx用户后台，
					</div>
					<div>
					公告说明信息,
					</div>
					<div>
					各种说明
					</div>
				</div>
			</div>
			
		</form>
	</div>

</body>
</html>