<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>

<body class="container">

	<div th:replace="commons :: header"></div>

	<h2>公司简介：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal">
		
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">简介：</label>
			<div class="col-sm-8">
				<br/>
				云顶.中国 数字资产
				<br/>
				<br/>
				<br/>
				<div>二维码：</div>				
				<img th:src="@{/images/yunding-erweima.jpg}"/>
			</div>
		</div>
	</form>

		
	</div>

</body>
</html>