<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>

<body class="container">
<style>
h1 {
	font-family: 'Exo 2', sans-serif;
	text-align: center; padding-top : 1em; font-weight : 400; color :
	#2B2B36;
	font-size: 2em;
	padding-top: 1em;
	font-weight: 400;
	color: #2B2B36;
}
</style>

	<h1>公司简介：</h1>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal">
		
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">简介：</label>
			<div class="col-sm-8">
				<br/>
				云顶.中国
			</div>
		</div>
	</form>

		
	</div>

</body>
</html>