<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
function subExport(){
	
	if(!globalSecurity){
		showSecondLogin2();
		return;
	}
	
	
	$.ajax({
		type: "post",
		url:"/export/apply",
		contentType:"application/x-www-form-urlencoded",
		data:$("#exportForm").serialize(),
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				//alert('申请成功,请等待审核……');
				alert('转出成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

</script>
	<div th:replace="commons :: header"></div>
	<h2>个人资产转出：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal" id="exportForm">
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">账号：</label>
			<div class="col-sm-8">
				<div  class="form-control" th:text="${user.username}">xxx</div>
			</div>
		</div>
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">持有资产份额：</label>
			<div class="col-sm-8">
				<div  class="form-control" th:text="${user.assets}">xxx</div>
			</div>
		</div>
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">转出数额：</label>
			<div class="col-sm-8">
				<input  class="form-control" type="text" value="" name="num"/>
			</div>
		</div>
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label">转个用户名：</label>
			<div class="col-sm-8">
				<input  class="form-control" type="text" name="toUsername" value=""/>
				<span>要转给的用户名(系统用户名)</span>
			</div>
		</div>
		
		<div class="form-group">
		<label for="inputEmail4" class="col-sm-2 control-label"></label>
			<div class="col-sm-8">
				<input type="button" class="btn btn-success" onclick="subExport()" value="提交"/>
			</div>
		</div>
		
	</form>

	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">转出记录</div>
		<div th:unless="${#lists.isEmpty(data)}">
		    <table class="table table-bordered">
		        <thead>
		        <tr>
		            <td>编号</td><td>转出份额</td><td>转给用户</td><td>日期</td><td>状态</td>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each="info ,stat : ${data}" th:class="${stat.odd}?'info':''" >
		            <td th:text="${info.id}">id</td>
		            <td th:text="${info.num}">id</td>
		            <td th:text="${info.toUsername}">id</td>
		            <td th:text="${#dates.format(info.createTime, 'yyyy-MM-dd')}">id</td>
		            <td th:text="${info.state ==0 ? '通过':'通过'}">id</td>
		        </tr>
		
		        </tbody>
		    </table>
		</div>
		
	</form>

		
	</div>
<div th:replace="commons :: copy"></div>
</body>
</html>