<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
	
</script>
<style>
h1 {
	font-family: 'Exo 2', sans-serif;
	text-align: center; padding-top : 1em; font-weight : 400; color :
	#2B2B36;
	font-size: 2em;
	padding-top: 1em;
	font-weight: 400;
	color: #2B2B36;
}
</style>

	<h1>增长记录：</h1>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<div th:unless="${#lists.isEmpty(data)}">
		    <table class="table table-bordered">
		        <thead>
		        <tr>
		            <td>增长</td>
		            <td>总资产</td>
		            <td>日期</td>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each="info : ${data}">
		            <td th:text="${info.num}">id</td>
		            <td th:text="${info.sum}">id</td>
		            <td th:text="${#dates.format(info.createTime, 'yyyy-MM-dd')}">id</td>
		        </tr>
		
		        </tbody>
		    </table>
		</div>
	</div>

</body>
</html>