<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons :: head"></head>

<body class="container">

	<div th:replace="commons :: header"></div>
	<h2>增长记录：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<div th:unless="${#lists.isEmpty(data)}">
		    <table class="table table-bordered table-hover">
		        <thead>
		        <tr>
		            <th>增长</th>
		            <th>百分比</th>
		            <th>总资产</th>
		            <th>日期</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each="info : ${data}">
		            <td th:text="${info.num}">id</td>
		            <td>1%</td>
		            <td th:text="${info.sum}">id</td>
		            <td th:text="${#dates.format(info.createTime, 'yyyy-MM-dd')}">id</td>
		        </tr>
		
		        </tbody>
		    </table>
		</div>
	</div>
<div th:replace="commons :: copy"></div>
</body>
</html>