<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>webrx-title</title>
    <meta name="description" content="简介"/>
    <meta name="keywords" content="关键字"/>
</head>
<script src="js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

<script>

</script>
<body>
<div th:replace="commons :: menu"></div>

index.html
<div th:include="commons :: copy"></div>
</body>
</html>
