<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>

<body class="container">
<style>
.qian{

	background:(url(/images/dollar-sign1.png))

}
</style>
	<div th:replace="commons :: header"></div>
	<h2>我的资产：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal" >
		
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">账号：</label>
			<div class="col-sm-8">
				<!--  class="form-control" -->
				<div class="form-control" th:text="${data.username}"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">固定资产：</label>
			<div class="col-sm-8">
				<div class=" glyphicon glyphicon-bitcoin form-control" th:text="${data.buyNum}">xxx</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">持有股份：</label>
			<div class="col-sm-8">
				<div class="glyphicon glyphicon-yen form-control" th:text="${data.stockNum}">xxx</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">持有筹码：</label>
			<div class="col-sm-8">
				<div class="form-control" th:text="${data.chip}">xxx</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">浮动资产：</label>
			<div class="col-sm-8">
				<div class="glyphicon glyphicon-piggy-bank form-control" th:text="${data.assets}">xxx</div>
			</div>
		</div>
		
		
	</form>
		
	</div>
	
<div th:replace="commons :: copy"></div>
</body>
</html>