<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
function registUser(){
	$.ajax({
		type: "post",
		url:"/user/register",
		contentType:"application/x-www-form-urlencoded",
		data:$("#registUserForm").serialize(),
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('注册成功');
				//window.location.href='user/registerListing';
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

</script>
<style>
.tishi{
	color:red;
}
</style>
	<div th:replace="commons :: header"></div>
	<h2>注册申报：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal col-md-11" role="form" id="registUserForm" action="/user/register" method="post">
			<input type="hidden" name="assets" value="0"/>
			<input type="hidden" name="stockNum" value="0"/>
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">账号：</label>
				<div class="col-sm-10">
					<input type="text" id="username" name="username" value=""/>
					<span class="tishi">系统的登录账号、用户名</span>
				</div>
			</div>
			<div class="form-group">
				<label for="password"  class="col-sm-2 control-label">密码：</label>
				<div class="col-sm-10">
					<input type="text" id="password" name="password" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label for="repassword" class="col-sm-2 control-label">确认密码：</label>
				<div class="col-sm-10">
					<input type="text" id="repassword" value=""/>
					<span class="tishi">与上边密码相同</span>
				</div>
			</div>
			<div class="form-group">
				<label for="secondPassword"  class="col-sm-2 control-label">二级密码：</label>
				<div class="col-sm-10">
					<input type="text" id="secondPassword" name="secondPassword" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label for="reSecondPassword" class="col-sm-2 control-label">确认二级密码：</label>
				<div class="col-sm-10">
					<input type="text" id="reSecondPassword" value=""/>
					<span class="tishi">与上边二级密码相同</span>
				</div>
			</div>
			<div class="form-group">
				<label for="realname" class="col-sm-2 control-label">姓名：</label>
				<div class="col-sm-10">
					<input type="text" id="realname" name="realname" value=""/>
					<span class="tishi">用户的真实姓名，方便转账</span>
				</div>
			</div>
			<div class="form-group">
				<label for="realname" class="col-sm-2 control-label">地区：</label>
				<div class="col-sm-10">
					<input type="text" id="area" name="area" th:value="${session.user.area}"/>
					<span class="tishi">保护地区为：【<span th:text="${session.user.area}"></span>】,只能注册自己所在地区的用户,(管理员不受限制)</span>
				</div>
			</div>
			<div class="form-group">
				<label for="cardId" class="col-sm-2 control-label">身份证号：</label>
				<div class="col-sm-10">
					<input type="text" id="cardId" name="cardId" value=""/>
					<span class="tishi">用户的真实身份证号，方便对账，查找</span>
				</div>
			</div>
			<div class="form-group">
				<label for="bankName" class="col-sm-2 control-label">开户行：</label>
				<div class="col-sm-10">
					<input type="text" id="bankName" name="bankName" value=""/>
					<span class="tishi">银行卡的开户行，方便转账</span>
				</div>
			</div>
			<div class="form-group">
				<label for="bankNo" class="col-sm-2 control-label">银行卡号：</label>
				<div class="col-sm-10">
					<input type="text" id="bankNo" name="bankNo" value=""/>
					<span class="tishi">银行卡的账号，方便转账</span>
				</div>
			</div>
			<div class="form-group">
				<label for="buyNum" class="col-sm-2 control-label">购买份额：</label>
				<div class="col-sm-10">
					<input type="text" id="buyNum" name="buyNum" value=""/>
					<span class="tishi">该用户的固定资产</span>
				</div>
			</div>
			<div class="form-group">
				<label for="mail" class="col-sm-2 control-label">邮箱：</label>
				<div class="col-sm-10">
					<input type="text" id="mail" name="mail" value=""/>
					<span class="tishi">用户的邮箱</span>
				</div>
			</div>
			<div class="form-group">
				<label for="mobile" class="col-sm-2 control-label">电话：</label>
				<div class="col-sm-10">
					<input type="text" id="mobile" name="mobile" value=""/>
					<span class="tishi">用户的手机、联系方式，方便交易联系</span>
				</div>
			</div>
			<div class="form-group">
				<label for="mobile" class="col-sm-2 control-label">简介：</label>
				<div class="col-sm-10">
					<textarea rows="3" cols="30" name="remark"></textarea>
					<span class="tishi">用户的备注，简介</span>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail4" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input type="button" class="btn btn-success" value="提交" onclick="registUser()"/>
				</div>
			</div>
		</form>
		
		<div class="col-md-12">
			
			<div class="col-sm-12"><h4>注册申报记录</h4></div>
			<div th:unless="${#lists.isEmpty(data)}">
			    <table class="table table-bordered table-hover">
			        <thead>
			        <tr>
			            <th>账号</th>
			            <th>姓名</th>
			            <th>联系方式</th>
			            <th>银行卡号</th>
			            <th>购买份额</th>
			            <th>电话</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr  th:each="user  ,stat : ${data}" th:class="${stat.odd}?'info':''" >
			            <td th:text="${user.username}">id</td>
			            <td th:text="${user.realname}">id</td>
			            <td th:text="${user.cardId}">id</td>
			            <td th:text="${user.bankNo}">id</td>
			            <td th:text="${user.buyNum}">id</td>
			            <td th:text="${user.mobile}">id</td>
			        </tr>
			
			        </tbody>
			    </table>
			</div>
		</div>
		
	</div>





</body>
</html>