<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
//挂单逻辑
function subTransation(){
	
	if(!globalSecurity){
		showSecondLogin2();
		return;
	}
	
	$.ajax({
		type: "post",
		url:"/transaction/apply",
		contentType:"application/x-www-form-urlencoded",
		data:$("#editTrasactionForm").serialize(),
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('挂盘成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

function delTransation(id){
	$.ajax({
		type: "post",
		url:"/transaction/delete",
		contentType:"application/x-www-form-urlencoded",
		data:{id:id},
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('删除成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

//我要购买的逻辑
function subWantBuy(id){
	
	if(!globalSecurity){
		showSecondLogin2();
		return;
	}
	
	
	$.ajax({
		type: "post",
		url:"/transaction/wantBuy",
		contentType:"application/x-www-form-urlencoded",
		data:{id:id},
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('申购成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

function cancleWantBuy(id){
	
	if(!globalSecurity){
		showSecondLogin2();
		return;
	}
	
	
	$.ajax({
		type: "post",
		url:"/transaction/cancleWantBuy",
		contentType:"application/x-www-form-urlencoded",
		data:{id:id},
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('撤销成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

function verifySell(id){
	
	if(!globalSecurity){
		showSecondLogin2();
		return;
	}
	
	
	$.ajax({
		type: "post",
		url:"/transaction/verify",
		contentType:"application/x-www-form-urlencoded",
		data:{id:id},
		dataType:"json",
		success: function(resp, textStatus){
			if(resp.code == 0){
				alert('确认成功');
				window.location.reload();
			}else{
				alert(resp.message)
			}
		}
	});
}

//我要卖出的逻辑
function subWantSell(id){

}

function cancleWantSell(id){

}

function verifyBuy(id){

}
function viewSellUser(userId){
	$('#editForm').find("input").empty();
	
	$('#viewUserDialog').modal('show');
	
	$.ajax({
		type: "post",
		url:"/transaction/viewSellUser",
		contentType:"application/x-www-form-urlencoded",
		data:{
			userId:userId
		},
		dataType:"json",
		success: function(resp, textStatus){
			var user = resp.data;
			for(var a in user){
				$('#editForm').find("input[name='"+a+"']").val(user[a]);
			}
		}
	});
}
</script>

	<div th:replace="commons :: header"></div>
	<h2>挂盘交易：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10" >
		<form class="form-horizontal" role="form" id="editTrasactionForm"  th:if="${!session.isAdmin}">
		
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">持有GSS浮动资产：</label>
			<div class="col-sm-10">
				<div class="form-control" th:text="${session.user.assets}"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">操作类型：</label>
			<div class="col-sm-10">
				<select name="type" class="form-control">
					<!--
						<option value="0">买入</option>
					-->
					<option value="1">卖出</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">价格：</label>
			<div class="col-sm-10">
				<input class="form-control" type="number" name="price" value=""/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">份额：</label>
			<div class="col-sm-10">
				<input class="form-control" type="number" name="num"  value=""/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<button type="button" class="btn btn-success" onclick="subTransation()">提交</button>
			</div>
		</div>
	</form>
	
	<div class="col-sm-12"><h4>系统中所有正在交易的挂单</h4></div>
	<div th:unless="${#lists.isEmpty(dataList)}">
		<table class="table table-bordered table-hover">
		        <thead>
		        <tr>
		            <th>编号</th>
		            <th>价格</th>
		            <th>份额</th>
		            <th>买/卖</th>
		            <th>时间</th>
		            <th>状态</th>
		            <th>操作</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr  th:each="tran : ${dataList}">
		            <td th:text="${tran.id}">id</td>
		            <td th:text="${tran.price}">id</td>
		            <td th:text="${tran.num}">id</td>
		            <td th:text="${tran.type==0} ? '买入':'卖出'">id</td>
		            <td th:text="${#dates.format(tran.createTime, 'yyyy-MM-dd HH-mm-ss')}">id</td>
		            <td th:switch="${tran.state}">
					　　<span th:case="0">申请</span>
					　　<span th:case="1">有人想购买</span>
					　　<span th:case="2">成交</span>
					</td>
		            <td>
						<a th:if="${session.user.id != tran.userId} and ${tran.state == 0}" href="javascript:void(0)" th:onclick="'subWantBuy('+${tran.id}+');'">我要购买</a>
						<!--
							<a th:if="${session.user.id == tran.userId} and ${tran.state == 1}" href="javascript:void(0)" th:onclick="'changecash('+${tran.id}+');'">撤销</a>  
						-->  
						&nbsp;&nbsp;
							<a href="javascript:void(0)" th:onclick="'viewSellUser('+${tran.userId}+');'">查看卖方信息</a>
					</td>
		            
		        </tr>
		
		        </tbody>
		    </table>
	</div>

	<div class="col-sm-12" th:if="${!session.isAdmin}">
	
		<div class="col-sm-12"><h4>我的挂单记录</h4></div>
		<div th:unless="${#lists.isEmpty(myData)}">
				<table class="table table-bordered table-hover">
			        <thead>
			        <tr>
			            <th>编号</th>
			            <th>价格</th>
			            <th>份额</th>
			            <th>买/卖</th>
			            <th>时间</th>
			            <th>状态</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr  th:each="tran : ${myData}">
						<td th:text="${tran.id}">id</td>
			            <td th:text="${tran.price}">id</td>
			            <td th:text="${tran.num}">id</td>
			            <td th:text="${tran.type==0} ? '买入':'卖出'">id</td>
			            <td th:text="${#dates.format(tran.createTime, 'yyyy-MM-dd HH-mm-ss')}">id</td>
			            <td th:switch="${tran.state}">
						　　<span th:case="0">已申请</span>
						　　<span th:case="1">有人想购买</span>
						　　<span th:case="2">已成交</span>
						</td>
						<td th:if="${tran.state == 0}">
							<a href="javascript:void(0)" th:onclick="'delTransation('+${tran.id}+');'">删除</a>  
						</td>
						<td th:if="${tran.state == 1}">
							<a href="javascript:void(0)" th:onclick="'verifySell('+${tran.id}+');'">确认卖出</a>  
						</td>
			        </tr>
			
			        </tbody>
			    </table>
			</div>
		</div>
	
	<div class="col-sm-12" th:if="${!session.isAdmin}">
		<div class="col-sm-12"><h4>我的购买记录</h4></div>
		<div th:unless="${#lists.isEmpty(wantBuyDataList)}">
				<table class="table table-bordered table-hover">
			        <thead>
			        <tr>
			            <th>编号</th>
			            <th>价格</th>
			            <th>份额</th>
			            <th>买/卖</th>
			            <th>时间</th>
			            <th>状态</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr  th:each="tran : ${wantBuyDataList}">
						<td th:text="${tran.id}">id</td>
			            <td th:text="${tran.price}">id</td>
			            <td th:text="${tran.num}">id</td>
			            <td th:text="${tran.type==0} ? '买入':'卖出'">id</td>
			            <td  th:text="${#dates.format(tran.createTime, 'yyyy-MM-dd HH-mm-ss')}">id</td>
			             <td th:switch="${tran.state}">
						　　<span th:case="0">已申请</span>
						　　<span th:case="1">有人想购买</span>
						　　<span th:case="2">已成交</span>
						</td>
						<td th:if="${tran.state == 1}">
							<a href="javascript:void(0)" th:onclick="'cancleWantBuy('+${tran.id}+');'">撤销购买</a>  
							&nbsp;&nbsp;
							<a href="javascript:void(0)" th:onclick="'viewSellUser('+${tran.userId}+');'">查看卖方信息</a>  
						</td>
			        </tr>
			
			        </tbody>
			    </table>
			</div>
		</div>
		
		<div th:replace="commons :: copy"></div>
		
	</div>











<!--view user dialog-->

<div class="modal fade" id="viewUserDialog" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body">
						
						<form id="editForm" class="form-horizontal">
						    <div class="form-group">
						        <label for="inputtext9" class="col-sm-2 control-label">姓名</label>
						        <div class="col-sm-3">
						            <input type="text" readonly="readonly" class="form-control" id="inputtext9" name="realname" placeholder="真实姓名"/>
						        </div>
						       <label for="inputtext7" class="col-sm-2 control-label">用户名</label>
						        <div class="col-sm-3">
						            <input type="text" readonly="readonly"  class="form-control" id="inputtext7" name="username" placeholder="用户名"/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext11" class="col-sm-2 control-label">开户行</label>
						        <div class="col-sm-3">
						            <input type="text" readonly="readonly"  class="form-control" id="inputtext11" name="bankName" placeholder="开户行名称(全称)"/>
						        </div>
						        <label for="inputtext13" class="col-sm-2 control-label">银行卡号</label>
						        <div class="col-sm-3">
						            <input type="text" readonly="readonly"  class="form-control" id="inputtext13" name="bankNo" placeholder="银行卡号"/>
						        </div>
						    </div>
						   
							<div class="form-group">
						        <label for="inputtext111" class="col-sm-2 control-label">邮箱</label>
						        <div class="col-sm-3">
						            <input type="text"  readonly="readonly" class="form-control" id="inputtext111" name="mail" placeholder="邮箱"/>
						        </div>
						        <label for="inputtext2" class="col-sm-2 control-label">手机号</label>
						        <div class="col-sm-3">
						            <input type="text" readonly="readonly"  class="form-control" id="inputtext2"  name="mobile" placeholder="手机号"/>
						        </div>
						    </div>
						   
						</form>
						
					</div>
				</div>
			</div>
		</div>









</body>
</html>