<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script th:src="@{/js/jquery-2.1.0.min.js}" type="text/javascript"
	charset="utf-8"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"
	charset="utf-8"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />

<script type="text/javascript">
	
</script>
<style>
h1 {
	font-family: 'Exo 2', sans-serif;
	text-align: center; padding-top : 1em; font-weight : 400; color :
	#2B2B36;
	font-size: 2em;
	padding-top: 1em;
	font-weight: 400;
	color: #2B2B36;
}
</style>
</head>
<body class="container">
	<h1>交易记录：</h1>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">

	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">增长记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">挂单记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">提现记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">导出资产记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>

		
	</div>

</body>
</html>