<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>
<body class="container">

	<div th:replace="commons :: header"></div>
	<h2>交易记录：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">

	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">增长记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">挂单记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">提现记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>
	<form class="form-horizontal" role="form">
		
		<div class="col-sm-12">导出资产记录</div>
		<table class="table table-bordered">
		  <tr>
		  	<td>编号</td><td>转出份额</td><td>日期</td><td>状态</td>
		  </tr>
		  <tr>
		  	<td>1</td><td>10000</td><td>2018-5-1</td><td>未通过</td>
		  </tr>
		  <tr>
		  	<td>2</td><td>10000</td><td>2018-5-2</td><td>通过</td>
		  </tr>
		  <tr>
		  	<td>3</td><td>20000</td><td>2018-5-1</td><td>通过</td>
		  </tr>
		</table>
	</form>

		
	</div>

	<div th:replace="commons :: copy"></div>

</body>
</html>