<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons :: head"></head>

<body class="container">

<script type="text/javascript">
	
</script>
<style>
h1 {
	font-family: 'Exo 2', sans-serif;
	text-align: center; padding-top : 1em; font-weight : 400; color :
	#2B2B36;
	font-size: 2em;
	padding-top: 1em;
	font-weight: 400;
	color: #2B2B36;
}
</style>

	<h1>转换股份申请：</h1>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		
		<div>公司正在对接进行中……</div>
		
	</div>

</body>
</html>