<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head"></head>


<body class="container">

<script type="text/javascript">
	function viewUser(id){
		$('#editForm').find("input").empty();
		
		$('#viewUserDialog').modal('show');
		
		$.ajax({
			type: "get",
			url:"/user/get",
			contentType:"application/x-www-form-urlencoded",
			dataType:"json",
			success: function(resp, textStatus){
				var user = resp.data;
				for(var a in user){
					$('#editForm').find("input[name='"+a+"']").val(user[a]);
					/*
					if(a == 'mobileApplyTime'){
						$('#editForm').find("input[name='mobileApplyTime']").val(user['mobileApplyTimeCn']);
					}else{
						$('#editForm').find("input[name='"+a+"']").val(user[a]);
					}
					*/
				}
			}
		});
	}
	
	function saveUser(){
		$.ajax({
			type: "post",
			url:"/user/save.do",
			contentType:"application/x-www-form-urlencoded",
			data:$("#editForm").serialize(),
			dataType:"json",
			success: function(resp, textStatus){
				window.location.reload();
			}
		});
	}
</script>

	<div th:replace="commons :: header"></div>
	<h2>个人信息：</h2>
	<div th:replace="commons :: menu"></div>
	
	<div class="col-md-10">
		<form class="form-horizontal" th:if="${data} != null">
		
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">简介：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.remark}"></div>
					
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">账号：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.username}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">手机号：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.mobile}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">开户行：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.bankName}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">银行卡号：</label>
				<div class="col-sm-8">
					<div  class="form-control" th:text="${data.bankNo}"></div>
				</div>
			</div>
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">身份证号：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.cardId}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">GSS固定资产：</label>
				<div class="col-sm-8">
					<div class="glyphicon glyphicon-bitcoin form-control" th:text="${data.buyNum}"></div>
				</div>
			</div>
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">GSS浮动资产：</label>
				<div class="col-sm-8">
					<div class="glyphicon glyphicon-piggy-bank form-control" th:text="${data.assets}"></div>
				</div>
			</div>
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">公司股份：</label>
				<div class="col-sm-8">
					<div class="glyphicon glyphicon-yen form-control" th:text="${data.stockNum}"></div>
				</div>
			</div>
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">赌场筹码：</label>
				<div class="col-sm-8">
					<div class="glyphicon glyphicon-ruble form-control" th:text="${data.chip}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label">邮箱：</label>
				<div class="col-sm-8">
					<div class="form-control" th:text="${data.mail}"></div>
				</div>
			</div>
			
			<div class="form-group">
			<label for="inputEmail4" class="col-sm-2 control-label"></label>
				<div class="col-sm-8">
					<input type="button" class="btn-success" 
					th:onclick="'javascript:viewUser(\''+${data.id}+'\')'" value="编辑信息"/>
					
				</div>
			</div>
		</form>
	</div>

<!--view user dialog-->

<div class="modal fade" id="viewUserDialog" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body">
						
						<form id="editForm" class="form-horizontal">
							<input type="hidden" name="id" value=""/>
							<input type="hidden" name="role" value=""/>
							<input type="hidden" name="status" value=""/>
							<input type="hidden" name="recUserId" value=""/>
						    <div class="form-group">
						        <label for="inputtext9" class="col-sm-2 control-label">姓名</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext9" name="realname" placeholder="真实姓名"/>
						        </div>
						       <label for="inputtext7" class="col-sm-2 control-label">身份证</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext7" name="cardId" placeholder="身份证号"/>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputtext11" class="col-sm-2 control-label">开户行</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext11" name="bankName" placeholder="开户行名称(全称)"/>
						        </div>
						        <label for="inputtext13" class="col-sm-2 control-label">银行卡号</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext13" name="bankNo" placeholder="银行卡号"/>
						        </div>
						    </div>
						   
							<div class="form-group">
						        <label for="inputtext111" class="col-sm-2 control-label">邮箱</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext111" name="mail" placeholder="邮箱"/>
						        </div>
						        <label for="inputtext2" class="col-sm-2 control-label">手机号</label>
						        <div class="col-sm-3">
						            <input type="text" class="form-control" id="inputtext2"  name="mobile" placeholder="手机号"/>
						        </div>
						    </div>
						
						    <div class="form-group">
						        <div class="col-sm-offset-2 col-sm-10">
						            <input type="button"  class="btn btn-default" onclick="saveUser();" value="保存"/>
						        </div>
						    </div>
						</form>
						
					</div>
				</div>
			</div>
		</div>

<div th:replace="commons :: copy"></div>


</body>
</html>