<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojg.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.haojg.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="second_password" jdbcType="VARCHAR" property="secondPassword" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="rec_user_id" jdbcType="BIGINT" property="recUserId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="buy_num" jdbcType="DOUBLE" property="buyNum" />
    <result column="stock_num" jdbcType="INTEGER" property="stockNum" />
    <result column="assets" jdbcType="DOUBLE" property="assets" />
    <result column="chip" jdbcType="INTEGER" property="chip" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>